.image1 {
  width: 205px;
  margin-bottom:58px;
  margin-top: 20px;
  margin-right: 30px;
  border-radius: 20px;
  border: solid 5px rgba(255, 255, 255, 0.544);
  
}

.cardLeft {
  border: solid 5px rgba(255, 255, 255, 0.544);
    text-align: center;
    border-radius: 12px;
    background-color: #222222;
    margin-right: 30px;
    padding: 20px;
    width: 168px;
    height: 700px;
    line-height : 50px;
  }

.gitLogo{
width: 80px;
border-radius: 20px;
cursor: pointer;
box-shadow: 1px 1px 10px rgb(255, 234, 0);
border: solid 1px black;
}

.linkedinLogo{
  width: 80px;
  border-radius: 20px;
  cursor: pointer;
  margin-bottom: 20px;
  box-shadow: 1px 1px 10px rgb(255, 234, 0);
  border: solid 1px black;
  }

.links{
  display:flex;
  flex-direction: column;
  margin-top: 120px;
}
